<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhaolian.smsservice.dao.SmsLogDao">

    <insert id="logSms" parameterType="Map">
        insert into sms_logs (
            biz_id,
            response_code,
            phone_numbers,
            template_id,
            template_param,
            caller,
            sign_name,
            send_time)
        VALUES (
            #{bizId},
            #{responseCode},
            #{phoneNumbers},
            #{templateId},
            #{templateParam},
            #{caller},
            #{signName},
            current_timestamp()
        )
    </insert>

</mapper>
